<main class="main">
  <div class="main-blur">
    <img class="blur" src="../assets/blur1.png" alt="">
    <img class="blur2" src="../assets/blur2.png" alt="">
    <img class="blur3" src="../assets/blur3.png" alt="">
    <img class="line1" src="../assets/line1.png" alt="">
    <img class="line2" src="../assets/line2.png" alt="">
  </div>
  <div class="main-menu">
    <img src="../assets/icon.png" alt="">
    <div class="main-social">
      <div class="social-item">
        <div class="social-item-box">  
          <i class="fab fa-twitter"></i>
        </div>
      </div>
      <div class="social-item">
        <div class="social-item-box">  
          <i class="fab fa-facebook-f"></i>
        </div>
      </div>
      <div class="social-item">
        <div class="social-item-box">  
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="social-item">
        <div class="social-item-box">  
          <i class="fab fa-discord"></i>
        </div>
      </div>
      <div class="social-item">
        <div class="social-item-box">  
          <i class="fab fa-telegram-plane"></i>
        </div>
      </div>
    </div>
  </div>
  
</main>